.expo-home/
api/Reflektif.Api/bin/
api/Reflektif.Api/obj/
api/Reflektif.Api/reflektif.db
api/Reflektif.Api/reflektif.db-*
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.pem
.env
.env.local
.env.*.local
